body.loader {
    overflow: hidden;
}
body.loader * {
     display:none;
}

body.loader #loader {
    background-color: #ffffff;
    background-image: url(/tpl/assets/img/loader.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: static;
    width: 100vw;
    height: 100vh;
    z-index:99999;
    display: block;
    overflow: hidden;
}
